In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract
import datetime as dt
import numpy as np
import pandas as pd
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract
#  2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_measures = session.query(Measurement).filter(extract('month', Measurement.date) == 6)

In [5]:
#  3. Convert the June temperatures to a list.
june_temps_list = [temp.tobs for temp in june_measures]

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
June_temp_df = pd.DataFrame(june_temps_list,columns =[ "June Temps"] )

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
June_temp_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [8]:
### Extra Work

In [9]:
#6. Convert the June stations to a list.
june_stations_list = [s.station for s in june_measures]

In [10]:
# 7. Create a DataFrame from the list of stations for the month of June. 
June_station_df = pd.DataFrame(june_stations_list,columns =[ "June Stations"] )

In [11]:
#8. Calculate and print out the summary statistics for the June stations DataFrame.
June_station_df.describe()

       June Stations
count           1700
unique             9
top      USC00519397
freq             236

In [12]:
#9. Convert the June precipitations to a list.
june_rains_list = [rain.prcp for rain in june_measures]

In [13]:
# 10. Create a DataFrame from the list of precipitations for the month of June. 
June_rains_df = pd.DataFrame(june_rains_list,columns =[ "June Precipitations"] )

In [14]:
# 11. Calculate and print out the summary statistics for the June precipitations DataFrame.
June_rains_df.describe()

       June Precipitations
count          1574.000000
mean              0.136360
std               0.335731
min               0.000000
25%               0.000000
50%               0.020000
75%               0.120000
max               4.430000

In [15]:
# 12. Find Average precipitations and temperature recorded by Stations
june_df = pd.DataFrame(list(zip(june_rains_list, june_temps_list,june_stations_list) ),columns=['Precipitations','Temps','Stations'])
june_df.groupby('Stations').mean()

             Precipitations      Temps
Stations
USC00511918        0.015157  74.139394
USC00513117        0.118248  74.050847
USC00514830        0.114192  76.005376
USC00516128        0.495748  71.937220
USC00517948        0.057975  76.655405
USC00518838        0.094615  73.394737
USC00519281        0.151525  73.271186
USC00519397        0.022661  77.559322
USC00519523        0.050044  76.668103

## D2: Determine the Summary Statistics for December

In [16]:
# 13. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_measures = session.query(Measurement).filter(extract('month', Measurement.date) == 12)

In [17]:
# 14. Convert the December temperatures to a list.
dec_temps_list = [temp.tobs for temp in dec_measures]

In [18]:
# 15. Create a DataFrame from the list of temperatures for the month of December. 
Dec_temps_df = pd.DataFrame(dec_temps_list,columns =[ "December Temps"] )

In [19]:
# 16. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
Dec_temps_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [20]:
#### Extra Work

In [21]:
#17. Convert the December stations to a list.
dec_stations_list = [s.station for s in dec_measures]

In [22]:
# 18. Create a DataFrame from the list of temperatures for the month of December. 
Dec_stations_df = pd.DataFrame(dec_stations_list,columns =[ "December Stations"] )

In [23]:
# 19. Calculate and print out the summary statistics for the Decemeber station DataFrame.
Dec_stations_df.describe()

       December Stations
count               1517
unique                 9
top          USC00519281
freq                 217

In [24]:
#20. Convert the December precipitations to a list.
dec_rains_list = [rain.prcp for rain in dec_measures]

In [25]:
# 21. Create a DataFrame from the list of precipitaions for the month of December. 
Dec_rains_df = pd.DataFrame(dec_rains_list,columns =[ "December Precipitions"] )

In [26]:
# 22. Calculate and print out the summary statistics for the Decemeber station DataFrame.
Dec_rains_df.describe()

       December Precipitions
count            1405.000000
mean                0.216819
std                 0.541399
min                 0.000000
25%                 0.000000
50%                 0.030000
75%                 0.150000
max                 6.420000

In [27]:
#14 Find Average Precipitations and Temperature recorded by Stations for Month Of Dec.
dec_df = pd.DataFrame(list(zip(dec_rains_list, dec_temps_list,dec_stations_list) ),columns=['Precipitations','Temps','Stations'])
dec_df.groupby('Stations').mean()

             Precipitations      Temps
Stations
USC00511918        0.138146  69.684211
USC00513117        0.203241  71.069444
USC00514830        0.154966  73.224719
USC00516128        0.507005  69.291262
USC00517948        0.152727  71.834862
USC00518838        0.638182  72.421053
USC00519281        0.244931  69.903226
USC00519397        0.075314  71.109524
USC00519523        0.162010  72.433333